<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>	
		<add name="cadena_conexion" connectionString="Data Source=NODESADC131\SQLEXPRESS;Initial Catalog=DBSISTEMA_VENTA;Persist Security Info=True;User ID=sa;password= Noviembre2024.;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient"
			 />
	</connectionStrings>
</configuration>

<!-- cadena del banco: Data Source=NODESADC131\SQLEXPRESS;Initial Catalog=DBSISTEMA_VENTA;Persist Security Info=True;User ID=sa;password= Noviembre2024.;Encrypt=False;TrustServerCertificate=True -->
<!-- cadena de mi casa: Data Source=COMPUTADORA\SQLEXPRESS;Initial Catalog=DBSISTEMA_VENTA;Persist Security Info=True;User ID=sa;password=dagipa1;Encrypt=False;TrustServerCertificate=True" -->